extends ../layout/index 

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-orange-400 Bienes
            span.font-normal.text-black Raíces
        h2.text-center.text-2xl.font-normal.text-black ¡Bienvenido a la Plataforma de BienesRaíces - 240755!
         
         .mt-8 
         a(class = "bg-gray-300 text-purple-600 hover:bg-purple-600 hover:text-white font-bold py-3 cursor-pointer rounded-4xl shadow-lg uppercase transition-all duration-200 text-center block w-full" href="/mis-propiedades/crear") Agregar Nueva Propiedad 