header.bg-orange-400.py-4
    .container.mx-auto.px-6.flex.items-center.justify-between
        h1.text-2xl.text-white.font-extrabold.leading-none.m-0
            | Bienes
            span.font-normal Raíces
        
        nav.flex.items-center.gap-4.text-sm.font-bold.text-white
            a(class="hover:text-gray-200 transition-colors duration-200" href="") Mis Propiedades
            a(class="hover:text-gray-200 transition-colors duration-200" href="") Mi Perfil
            a(class="bg-gray-300 text-orange-400 hover:bg-red-600 hover:text-white font-bold.py-2 px-5 cursor-pointer rounded-lg shadow-lg transition-all.duration-200" href="/auth/signout") Cerrar Sesión